body {
  background-image: url("./Images/christmas.jpg")
}
.custFont {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 1000
}

h3 {
  color:green
}
.container {
  background-color: white
}
.btn {
  background-color: green
}


/* checkbox */
[type="checkbox"]:checked+span:not(.lever):before {
border-right: 2px solid red;
border-bottom: 2px solid red;

}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid green;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  transition: .2s;
}
label {
  color:green
}
